.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}

.flex-fill {
  flex: 1 1 auto;
}

.justify-content-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
