.btn {
  padding: 5px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.2s opacity;
  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
}

.btn-reverse-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: white;
}

.card {
  border-radius: var(--border-radius);
  background-color: white;
}

.text-primary {
  color: var(--primary);
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
}

input,
select {
  padding: 10px 15px;
  border: 2px solid var(--gray-2);
  border-radius: var(--border-radius);
}

.form-error {
  color: var(--warning);
  font-weight: 500;
  font-size: 12px;
}

.active {
  color: var(--primary);
  transition: color 0.2s;
}

.icones {
  width: 20px;
  height: 20px;
  &.cart {
    width: 24px;
    height: 24px;
  }
}
