.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-30 {
  padding: 30px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}
.my-5 {
  margin-bottom: 5px;
  margin-top: 5px;
}
.my-10 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.my-20 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.my-30 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
