:root {
  --primary: #015949;
  --primary-light: #0b7a66;
  --primary-dark: #013d32;

  --secondary: #8cb0a9;
  --secondary-light: #cfe2de;
  --secondary-dark: #5f8f86;
  --white: #fefefe;
  --black: #20232a;
  --gray-1: #20232a;
  --gray-2: #ecedee;
  --font-family: "Montserrat", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #444;
  --text-color-light: #f3f7f6;
  --border: 1px solid var(--gray-2);
  --border-radius: 4px;
  // --warning: #e74c3c;

  /* ALERTES */
  --alert-info-bg: #eaf3fb;
  --alert-info-border: #3b82c4;
  --alert-info-text: #1e4f7a;

  --alert-success-bg: #e6f4ea;
  --alert-success-border: #27ae60;
  --alert-success-text: #1e8449;

  --alert-warning-bg: #fff4e5;
  --alert-warning-border: #f39c12;
  --alert-warning-text: #b9770e;

  --alert-danger-bg: #fdecea;
  --alert-danger-border: #e74c3c;
  --alert-danger-text: #c0392b;
}
