.wrapperImages {
  width: 40%;
  min-width: 400px;
  min-height: 400px;
  .mainSwiper {
    cursor: zoom-in;
  }
  .thumbsSwiper {
    margin-top: 2rem;
    cursor: pointer;
  }
}
.wrapperHeaderInfos {
  width: 50%;
  min-width: 400px;
  padding: 1rem;
  .productName {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .originalPrice {
    color: var(--text-color-light);
    margin-bottom: 1rem;

    span {
      text-decoration: line-through;
    }
  }
  .price {
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .productInfos {
    margin-bottom: 2rem;
    li {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 8px;
    }
  }
  .infoStripe {
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.8rem;
    color: var(--text-color-light);
  }
}
table {
  margin-top: 1rem;
}
th {
  padding-right: 2rem;
  font-weight: 600;
}
td,
th {
  text-align: left;
}
.navInfos {
  margin: 10px 0 10px 0;
  li {
    padding: 1rem;
    cursor: pointer;
    font-weight: 600;
    &::after {
      content: "";
      display: block;
      width: 0%;
      margin-top: -2px;
      height: 2px;
      background-color: var(--primary);
      transition: width 0.3s;
    }
  }
}
.navActive {
  &::after {
    width: 100% !important;
  }
}
.connectors {
  max-width: 200px;
}
.description {
  padding: 0 1rem 1rem 1rem;
  h2 {
    color: var(--primary);
  }
  p {
    white-space: pre-line;
  }
}
.wrapperButtons {
  button {
    width: 100%;
  }
}
