.passwordContainer {
  display: flex;
  align-items: center;
  background: var(--white);
  border: 2px solid var(--gray-2);
  border-radius: var(--border-radius);
  input {
    appearance: none;
    background: var(--white);
    border: none;
    outline: none;
    flex: 1 1 auto;
  }
  span {
    display: flex;
    margin: 6px;
    cursor: pointer;
  }
}
