.containerInput {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}
.form {
  padding: 6px 1rem;
  margin: 2rem 0;
  width: 400px;
  h3 {
    margin-top: 1rem;
    padding-bottom: 6px;
  }
}
