.labelRadioButton {
  margin: 0;
}
.rightBtnDelete {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rightInputWithDeleteBtn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
