.alertsWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 1rem;
  right: 6px;
}
.stickyPosition {
  position: sticky;
  top: 1rem;
  z-index: 99;
}
