.wrapperShopMenu {
  position: relative;
  width: 190px;
}
.ShopMenu {
  position: sticky;
  top: 1rem;
  left: 0;
  width: 190px;
  padding: 1rem;
  h1,
  h3 {
    color: var(--primary);
  }
  h1 {
    margin-bottom: 1.5rem;
  }
  h3 {
    margin-bottom: 6px;
  }
  input[type="checkbox"] {
    margin-right: 8px;
    height: 15px;
    width: 15px;
    border-radius: var(--border-radius);
    cursor: pointer;
    &:checked {
      accent-color: var(--primary);
    }
  }
  label {
    cursor: pointer;
    margin-bottom: 0;
  }
}
