.headerSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.wrapperInput {
  background-color: var(--white);
  display: flex;
  align-items: center;
  border: var(--border);
  border-radius: var(--border-radius);
  padding-right: 5px;
  margin: 1rem 0;
  width: 250px;
  input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 5px 10px 10px;
  }
}
