@use "../../assets/styles/mixins" as mixin;

.cardCartLoading {
  min-height: 335px;
}
.cardCart {
  padding: 20px !important;
  @include mixin.xs {
    flex-direction: column;
  }
  .titlePrice {
    @include mixin.xs {
      display: none;
    }
  }
  .wrapperTotal {
    @include mixin.xs {
      flex-direction: column-reverse;
      a {
        width: max-content;
        margin-top: 6px;
      }
    }
  }
  .wrapperCartTitleAndClearCart {
    align-items: center;
    @include mixin.xs {
      flex-direction: column;
      align-items: start;
      h1 {
        font-size: clamp(20px, 6vw, 28px) !important;
      }
    }
  }
  .wrapperNameAndPrice {
    h2 {
      &:hover {
        text-decoration: underline;
      }
    }
    @include mixin.xs {
      flex-direction: column;
      h2 {
        font-size: clamp(17px, 5vw, 26px) !important;
      }
      h3 {
        margin: 5px 0;
      }
    }
  }
  .CartLogo {
    max-width: 400px;
    min-width: 200px;
    margin-right: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .wrapperBtn {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .productItem {
    border-top: 1px solid var(--gray);
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    @include mixin.xs {
      flex-direction: column;
    }
    &:last-child {
      border-bottom: 1px solid var(--gray);
    }
    .priceItem {
      white-space: nowrap;
    }
    figure {
      max-width: 160px;
      height: 100%;
      margin-right: 1rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }
  .wrapperQuantity {
    border: 1px solid var(--primary);
    border-radius: 6px;
    width: max-content;
    display: flex;
    outline: auto;
    color: var(--primary);
    button {
      //   border-radius: var(--border-radius);
      cursor: pointer;
      transition: 0.2s opacity;
      background-color: var(--white);
      border: none;
      width: 20px;
      height: 20px;
      //   border: 2px solid var(--primary);
    }
    input {
      appearance: none;
      border: none;
      outline: none;
      width: 30px;
      text-align: center;
      padding: 0;
    }
  }
  .btnSecondary {
    color: var(--primary);
    appearance: none;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    height: max-content;
  }
}
