.ShopCard {
  width: 320px;
  &:hover {
    img {
      transform: scale(1.05);
    }
    h2 {
      color: var(--primary);
    }
  }
  h2 {
    transition: color 0.3s ease;
    font-size: 1.3rem;
    margin-bottom: 6px;
  }
  figure {
    width: 100%;
    height: 200px;
    padding: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  }
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  cursor: pointer;
  background-image: url("close.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
}
.originalPrice {
  font-size: 0.9rem;
  color: var(--text-color-light);
  span {
    color: var(--text-color);
    margin-left: 0.5rem;
    text-decoration: line-through;
  }
}
.price {
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: bold;
}
.wrapperInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 2px 8px;
  margin-bottom: 6px;
}
.condition {
  font-size: 1.3rem;
  color: var(--primary);
  text-transform: capitalize;
}
