.loader {
  color: var(--primary);
  animation: spin 2.6s linear infinite;
  width: 35px;
  height: 35px;
}
@keyframes spin {
  0% {
    transform: rotate(0) scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: rotate(180deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0.9);
    opacity: 0.7;
  }
}
